<a href="https://colab.research.google.com/github/baller01/Project-4/blob/Kamwana/CO2_emissions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.5.26)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.56.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.3)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.6.3)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (0.2.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

In [14]:
# Import the modules
import pandas as pd
from pathlib import Path
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [4]:
# Read the csv file into a pandas DataFrame
carbon_df = pd.read_csv("CO2_Emissions_Canada.csv")

# Review the DataFrame
carbon_df.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [5]:
carbon_df.nunique()

Make                                  42
Model                               2053
Vehicle Class                         16
Engine Size(L)                        51
Cylinders                              8
Transmission                          27
Fuel Type                              5
Fuel Consumption City (L/100 km)     211
Fuel Consumption Hwy (L/100 km)      143
Fuel Consumption Comb (L/100 km)     181
Fuel Consumption Comb (mpg)           54
CO2 Emissions(g/km)                  331
dtype: int64

In [38]:
co2_df=carbon_df.drop(columns=['Make', 'Model', 'Fuel Consumption Comb (L/100 km)', 'Fuel Consumption Comb (mpg)'])
co2_df

,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),CO2 Emissions(g/km)
0,COMPACT,2.0,4,AS5,Z,9.9,6.7,196
1,COMPACT,2.4,4,M6,Z,11.2,7.7,221
2,COMPACT,1.5,4,AV7,Z,6.0,5.8,136
3,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,255
4,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,244
...,...,...,...,...,...,...,...,...
7380,SUV - SMALL,2.0,4,AS8,Z,10.7,7.7,219
7381,SUV - SMALL,2.0,4,AS8,Z,11.2,8.3,232
7382,SUV - SMALL,2.0,4,AS8,Z,11.7,8.6,240
7383,SUV - STANDARD,2.0,4,AS8,Z,11.2,8.3,232
7384,SUV - STANDARD,2.0,4,AS8,Z,12.2,8.7,248

In [39]:
#Evaluating composition of the column by value counts
co2_df["Vehicle Class"].value_counts()

SUV - SMALL                 1217
MID-SIZE                    1133
COMPACT                     1022
SUV - STANDARD               735
FULL-SIZE                    639
SUBCOMPACT                   606
PICKUP TRUCK - STANDARD      538
TWO-SEATER                   460
MINICOMPACT                  326
STATION WAGON - SMALL        252
PICKUP TRUCK - SMALL         159
MINIVAN                       80
SPECIAL PURPOSE VEHICLE       77
VAN - PASSENGER               66
STATION WAGON - MID-SIZE      53
VAN - CARGO                   22
Name: Vehicle Class, dtype: int64

In [40]:
#Evaluating composition of the column by value counts
co2_df["Transmission"].value_counts()

AS6     1324
AS8     1211
M6       901
A6       789
A8       490
AM7      445
A9       339
AS7      319
AV       295
M5       193
AS10     168
AM6      132
AV7      118
AV6      113
M7        91
A5        84
AS9       77
A4        65
AM8       62
A7        53
AV8       39
A10       31
AS5       26
AV10      11
AM5        4
AM9        3
AS4        2
Name: Transmission, dtype: int64

In [41]:
co2_df["Fuel Type"].value_counts()

X    3637
Z    3202
E     370
D     175
N       1
Name: Fuel Type, dtype: int64

In [50]:
co2_df.loc[co2_df["CO2 Emissions(g/km)"] <= 255, "CO2"] = 1
co2_df.loc[co2_df["CO2 Emissions(g/km)"] > 255, "CO2"] = 0
co2_df
print(co2_df["CO2"].value_counts())

1.0    4182
0.0    3203
Name: CO2, dtype: int64

In [46]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
# Scaling the numeric columns
co2_scaled_df= StandardScaler().fit_transform(co2_df[["Engine Size(L)", "Cylinders", "Fuel Consumption City (L/100 km)", "Fuel Consumption Hwy (L/100 km)"]])
# Creating a DataFrame with with the scaled data
co2_transformed_df= pd.DataFrame(co2_scaled_df, columns= ["Engine Size(L)", "Cylinders", "Fuel Consumption City (L/100 km)", "Fuel Consumption Hwy (L/100 km)"])

co2_transformed_df

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km)
0,-0.856721,-0.883408,-0.759002,-1.052781
1,-0.561317,-0.883408,-0.387577,-0.603202
2,-1.225976,-0.883408,-1.873275,-1.457401
3,0.251043,0.210575,0.040990,0.026208
4,0.251043,0.210575,-0.130437,-0.153624
...,...,...,...,...
7380,-0.856721,-0.883408,-0.530433,-0.603202
7381,-0.856721,-0.883408,-0.387577,-0.333455
7382,-0.856721,-0.883408,-0.244721,-0.198582
7383,-0.856721,-0.883408,-0.387577,-0.333455
7384,-0.856721,-0.883408,-0.101866,-0.153624

In [48]:
# Transform the Card Type column using get_dummies()
dummies_df=pd.get_dummies(co2_df[["Vehicle Class", "Transmission", "Fuel Type"]])
dummies_df.head()

,Vehicle Class_COMPACT,Vehicle Class_FULL-SIZE,Vehicle Class_MID-SIZE,Vehicle Class_MINICOMPACT,Vehicle Class_MINIVAN,Vehicle Class_PICKUP TRUCK - SMALL,Vehicle Class_PICKUP TRUCK - STANDARD,Vehicle Class_SPECIAL PURPOSE VEHICLE,Vehicle Class_STATION WAGON - MID-SIZE,Vehicle Class_STATION WAGON - SMALL,...,Transmission_AV7,Transmission_AV8,Transmission_M5,Transmission_M6,Transmission_M7,Fuel Type_D,Fuel Type_E,Fuel Type_N,Fuel Type_X,Fuel Type_Z
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [49]:
# Concatenate the df_shopping_transformed and the card_dummies DataFrames
co2_new_df=pd.concat([co2_transformed_df, dummies_df], axis=1)
co2_new_df

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Vehicle Class_COMPACT,Vehicle Class_FULL-SIZE,Vehicle Class_MID-SIZE,Vehicle Class_MINICOMPACT,Vehicle Class_MINIVAN,Vehicle Class_PICKUP TRUCK - SMALL,...,Transmission_AV7,Transmission_AV8,Transmission_M5,Transmission_M6,Transmission_M7,Fuel Type_D,Fuel Type_E,Fuel Type_N,Fuel Type_X,Fuel Type_Z
0,-0.856721,-0.883408,-0.759002,-1.052781,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,-0.561317,-0.883408,-0.387577,-0.603202,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,-1.225976,-0.883408,-1.873275,-1.457401,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0.251043,0.210575,0.040990,0.026208,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0.251043,0.210575,-0.130437,-0.153624,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7380,-0.856721,-0.883408,-0.530433,-0.603202,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7381,-0.856721,-0.883408,-0.387577,-0.333455,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7382,-0.856721,-0.883408,-0.244721,-0.198582,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7383,-0.856721,-0.883408,-0.387577,-0.333455,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7384,-0.856721,-0.883408,-0.101866,-0.153624,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [59]:
# Split our preprocessed data into our features and target arrays
X=co2_new_df.values
y=co2_df["CO2"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test= train_test_split(X,y, random_state= 1)

In [24]:
##Compile, Train and Evaluate the Model

In [60]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
nodes_layer1 = 20
nodes_layer2 =10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer1, activation="relu", input_dim= input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 20)                1060

 dense_16 (Dense)            (None, 10)                210

 dense_17 (Dense)            (None, 1)                 11

=================================================================
Total params: 1,281
Trainable params: 1,281
Non-trainable params: 0
_________________________________________________________________

In [61]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [62]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
174/174 [==============================] - 1s 2ms/step - loss: 0.3568 - accuracy: 0.8879
Epoch 2/50
174/174 [==============================] - 0s 2ms/step - loss: 0.1544 - accuracy: 0.9426
Epoch 3/50
174/174 [==============================] - 0s 2ms/step - loss: 0.1180 - accuracy: 0.9554
Epoch 4/50
174/174 [==============================] - 0s 3ms/step - loss: 0.0934 - accuracy: 0.9619
Epoch 5/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0735 - accuracy: 0.9702
Epoch 6/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0594 - accuracy: 0.9765
Epoch 7/50
174/174 [==============================] - 1s 3ms/step - loss: 0.0507 - accuracy: 0.9796
Epoch 8/50
174/174 [==============================] - 1s 3ms/step - loss: 0.0457 - accuracy: 0.9814
Epoch 9/50
174/174 [==============================] - 0s 3ms/step - loss: 0.0419 - accuracy: 0.9819
Epoch 10/50
174/174 [==============================] - 1s 4ms/step - loss: 0.0397 - accuracy: 0.9825
Epoch 11/50
174/174 [==============================] - 1s 4ms/step - loss: 0.0376 - accuracy: 0.9839
Epoch 12/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0362 - accuracy: 0.9850
Epoch 13/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0360 - accuracy: 0.9848
Epoch 14/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0344 - accuracy: 0.9843
Epoch 15/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0343 - accuracy: 0.9847
Epoch 16/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0337 - accuracy: 0.9848
Epoch 17/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0321 - accuracy: 0.9841
Epoch 18/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0314 - accuracy: 0.9856
Epoch 19/50
174/174 [==============================] - 0s 3ms/step - loss: 0.0314 - accuracy: 0.9857
Epoch 20/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0312 - accuracy: 0.9866
Epoch 21/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0304 - accuracy: 0.9872
Epoch 22/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0299 - accuracy: 0.9872
Epoch 23/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0300 - accuracy: 0.9861
Epoch 24/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0295 - accuracy: 0.9848
Epoch 25/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0294 - accuracy: 0.9872
Epoch 26/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0289 - accuracy: 0.9870
Epoch 27/50
174/174 [==============================] - 0s 3ms/step - loss: 0.0287 - accuracy: 0.9874
Epoch 28/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0284 - accuracy: 0.9872
Epoch 29/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0280 - accuracy: 0.9877
Epoch 30/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0286 - accuracy: 0.9865
Epoch 31/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0277 - accuracy: 0.9872
Epoch 32/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0274 - accuracy: 0.9857
Epoch 33/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0270 - accuracy: 0.9872
Epoch 34/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0271 - accuracy: 0.9874
Epoch 35/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0274 - accuracy: 0.9870
Epoch 36/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0273 - accuracy: 0.9879
Epoch 37/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0265 - accuracy: 0.9872
Epoch 38/50
174/174 [==============================] - 1s 4ms/step - loss: 0.0267 - accuracy: 0.9881
Epoch 39/50
174/174 [==============================] - 1s 4ms/step - loss: 0.0253 - accuracy: 0.9893
Epoch 40/50
174/174 [==============================] - 1s 3ms/step - loss: 0.0256 - accuracy: 0.9883
Epoch 41/50
174/174 [==============================] - 1s 3ms/step - loss: 0.0267 - accuracy: 0.9874
Epoch 42/50
174/174 [==============================] - 1s 3ms/step - loss: 0.0258 - accuracy: 0.9877
Epoch 43/50
174/174 [==============================] - 1s 4ms/step - loss: 0.0257 - accuracy: 0.9877
Epoch 44/50
174/174 [==============================] - 1s 3ms/step - loss: 0.0263 - accuracy: 0.9877
Epoch 45/50
174/174 [==============================] - 1s 3ms/step - loss: 0.0265 - accuracy: 0.9872
Epoch 46/50
174/174 [==============================] - 0s 3ms/step - loss: 0.0259 - accuracy: 0.9883
Epoch 47/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0251 - accuracy: 0.9875
Epoch 48/50
174/174 [==============================] - 0s 2ms/step - loss: 0.0252 - accuracy: 0.9886
Epoch 49/50
174/174 [==============================] - 1s 3ms/step - loss: 0.0251 - accuracy: 0.9870
Epoch 50/50
174/174 [==============================] - 0s 3ms/step - loss: 0.0250 - accuracy: 0.9884

In [65]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test, y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

58/58 - 0s - loss: 0.0524 - accuracy: 0.9821 - 217ms/epoch - 4ms/step
Loss: 0.05237043276429176, Accuracy: 0.9821332097053528